*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(127, 255, 212, 0.551);

}
.header{
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
}
.header .Suevey{
    /* border: 2px solid red; */
    padding: 20px;
}
.header .form{
    background-color: aliceblue;
    width: 50%;
    height: 95vh;
    margin: auto;
    /* margin: 20px; */
}

.form .form_1{
    display: inline-block;
    width: 100%;
    padding: 20px;
    color: black;
}
.form .contenar{
    display: inline;
}

